# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Reprise presenation : .cache ; .vscode
.cache
.vscode

# Backup
*~
*_
*#

# Setup
.idea/
*.sublime-*
compile_commands.json

# Potential local build repository
*build*/
Testing/
doc/conf.py
.vscode/*
.cache/*
.ideas/*


test/sycl_sandbox/obsolete
test/sycl_sandbox/test_templates_include.hpp
test/sycl_sandbox/test_templates.cpp
exec.sh
*.save
*.txt