html
{
  /* primary theme color. This will affect the entire websites color scheme: links, arrows, labels, ... */
  --primary-dark-color: hsl(220, 100%, 30%);
  --primary-color: hsl(220, 100%, 50%);
  --primary-light-color: hsl(200, 100%, 70%);

  /* page base colors */
  --page-background-color: white;
  --page-foreground-color: hsl(220, 100%, 10%);
  --page-secondary-foreground-color: hsl(220, 100%, 40%);
}
