####################################################################################################
##  KIWAKU - Containers Well Made
##  Copyright : KIWAKU Contributors & Maintainers
##  SPDX-License-Identifier: BSL-1.0
####################################################################################################
name: KIWAKU Documentation Generation
on:
  push:
    branches:
      - main

jobs:
  generate-doc:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/jfalcou/compilers:v9
    strategy:
      fail-fast: false
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v4
      - name: Prepare KIWAKU
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DKIWAKU_BUILD_TEST=OFF -DKIWAKU_BUILD_DOCUMENTATION=ON

      - name: Generate Doxygen
        run: |
          cd build
          ninja kiwaku-doxygen

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs
