name: Kiwaku CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  gcc:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing Kiwaku with g++
        uses: ./.github/actions/run_docker
        with:
          compiler:   'g++'
          cpu:        2
  clang:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing Kiwaku with clang++
        uses: ./.github/actions/run_docker
        with:
          compiler: 'clang++'
          cpu:      2
