name: Kiwaku CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - develop

jobs:
  gcc:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing KIWAKU with g++ 11
        uses: ./.github/actions/run_tests
        with:
          compiler: 'g++-11'
  clang:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch current branch
        uses: actions/checkout@v2
      - name: Testing KIWAKU with clang++ 12
        uses: ./.github/actions/run_tests
        with:
          compiler: 'clang++-12'
